<% extend ('../../layout')%>

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Clinic</h2>
                <h5>Edit a Clinic. </h5>

            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Clinic
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="/admin/editClinic">
                            <div class="row">
                                <%- include('./imageShared')%>
                                <input value="<%= d.val().id %>" class="form-control" name="id" required
                                    type="hidden" />
                                <!-- Left Side -->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Clinic Name</label>
                                        <input value="<%= d.val().name %>" class="form-control" name="clinicName"
                                            required type="text" />
                                    </div>

                                    <div class="form-group">
                                        <label>Clinic Start Timings</label>
                                        <input value="<%= d.val().startTiming %>" class="form-control"
                                            name="clinicStartTimings" required type="time" />
                                    </div>

                                    <div class="form-group">
                                        <label> Clinic Fee </label>
                                        <input value="<%= d.val().fee %>" type="number" class="form-control"
                                            name="clinicFee" required />
                                    </div>

                                </div>

                                <!-- Right Side -->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label> Clinic Address </label>
                                        <input value="<%= d.val().address %>" class="form-control" name="clinicAddress"
                                            required type="text" />
                                    </div>

                                    <div class="form-group">
                                        <label>Clinic End Timings</label>
                                        <input value="<%= d.val().endTiming %>" class="form-control"
                                            name="clinicEndTimings" required type="time" />
                                    </div>
                                    <div class="form-group">
                                        <label> Clinic Phone Number </label>
                                        <input value="<%= d.val().number %>" type="number" class="form-control"
                                            name="clinicPhoneNumber" required type="number" />
                                    </div>

                                </div>

                            </div>
                            <input id="submit" type="submit" value="SAVE" class="btn btn-block btn-primary" required />
                        </form>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>